[user]
	email = coldousedbird
	name = coldousedbird
[credential]
	helper = cache --timeout 7200
	helper = oauth
[credential "https://github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
[web]
  browser = chromium
[init]
  defaultBranch = main
[color]
  ui = true
[alias]
  s = status
  a = add
  c = commit
  pu = push
  pl = pull
  l = log
  auth = gh auth setup-git
  # Show all branches
  br = branch -av
  # Show the current branch name (useful for shell prompts)
  brname = !git branch | grep "^*" | awk '{ print $2 }'
  # Delete a branch
  brdel = branch -D

