layout {

    focus-ring {
        active-color   "#434f55"
        inactive-color "#9da9a0"
        urgent-color   "#e66868"
    }

    border {
        active-color   "#434f55"
        inactive-color "#9da9a0"
        urgent-color   "#e66868"
    }


    tab-indicator {
        active-color   "#434f55"
        inactive-color "#8aaec0"
        urgent-color   "#e66868"
    }

    insert-hint {
        color "#434f5580"
    }
}

recent-windows {
    highlight {
        active-color "#434f55"
        urgent-color "#e66868"
    }
}
