set $bg_dim      #232A2E
set $bg0         #2D353B
set $bg1         #343F44
set $bg2         #3D484D
set $bg3         #475258
set $bg4         #4F585E
set $bg5         #56635f
set $bg_visual   #543A48
set $bg_red      #514045
set $bg_green    #425047
set $bg_blue     #3A515D
set $bg_yellow   #4D4C43
set $fg          #D3C6AA
set $red         #E67E80
set $orange      #E69875
set $yellow      #DBBC7F
set $green       #A7C080
set $aqua        #83C092
set $blue        #7FBBB3
set $purple      #D699B6
set $grey0       #7A8478
set $grey1       #859289
set $grey2       #9DA9A0

# class                 border  bground text    indicator child_border
client.focused          $green  $green  $bg0    $green    $green
client.focused_inactive $bg2    $bg0    $grey1  $bg2      $bg2   
client.unfocused        $bg2    $bg0    $grey1  $bg2      $bg2   
client.urgent           $red    $red    $bg_dim $red      $red  
